
*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  
}
html{
  scroll-behavior: smooth;
}
.search-bar{
  margin: auto;
  justify-content: center;
}
.search-form{
  background: white;
  height: 35px;
  border-radius: 5px;
}
.search-form input{
  border: none;
  width: 80%;

}
ul{
  list-style: none;
}
header{
  z-index: 500;
  position: relative;
}
.search-form i{
  color: rgb(136, 136, 136);
  font-size: 18px;
  margin: 8px 10px 8px 10px;
}
.search-form input:focus{
  outline: none;
}
.menu ul{
  float: right;
  margin: 0;
  padding-top: 8px;
  
}
.menu li a{
  color: white;
  text-decoration: none;
}
.menu li{
  margin-left: 1rem;
  margin-right: 1rem;
}
.menu li a:hover{
  color: white;
}
.categories-fluid{
  border-bottom: 0.5px solid rgb(197, 197, 197);
}
ul.categories{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  
}
ul.categories > li{
  padding: 0.5rem 2rem;
  text-align: center;

}
ul.categories > li > a{
  color: rgb(59, 59, 59);
  text-decoration: none;
}
ul.categories > li > a:hover{
  
  color: #2874F0;
}
.dropdown-cate-menu{
  position: absolute;
  background: white;
  width: 89%;
  left: 6%;
  top: 100%;
  border: 1px solid #2874F0;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 1px 1px 10px rgba(190, 190, 190, 0.7);
  display: none;
  visibility: hidden;
  overflow: hidden;
  transition: .5s;
  text-align: left !important;
  z-index: 9999;
  
}
ul.categories > li:hover > div{
  display: block;
  visibility: visible;
  overflow: visible;
}
.dropdown-cate-menu > a{
  color: rgb(92, 92, 92);
  text-decoration: none;
}
.menus{
  display: flex;
  margin: auto;
  justify-content: space-between;
}
ul.dropdown-submenu{
  width: 25%;
  display: inline;
}
.dropdown-submenu > li > a{
  color:  rgb(121, 121, 121);
  text-decoration: none;
  transition: .5s;

}
.dropdown-submenu > li > a:hover{
  color: #4684e9;

}
.hamburger-menu{
  display: none;
}
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
}
.carousel-wrapper * {
  box-sizing: border-box;
}
.carousel {
  transform-style: preserve-3d;
}
.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}
.blog-card{
  border-radius: 5px;
}
.thumbnail img{
  border-radius: 5px;
}
.blog-card .thumbnail{
  width: 30%;
}
.blog-title{
  width: 70%;
  background: white;
  padding: 0.5rem 0.3rem 0.3rem 0.6rem;
  border-radius: 5px;
}
.blog-title p.title{
  color: rgb(65, 65, 65);
  font-size: 18px;
  cursor: pointer;
  height: 55px;
  overflow: hidden;
  

}
.blog-title p:hover{
  color: #4684e9;
}
.blog-title p.date{
  color: rgb(170, 170, 170);
  font-size: 14px;
}
.blog-title p.date:hover{
  color: initial;
}
.top-stores-row .col-md-3{
  background: white;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  border: 1px solid rgb(223, 223, 223);
  transition: .5s;
  padding: 0.5rem;
  width: 24% !important;
  border-radius: 50%;
  height: 160px;
}
.top-categories-row .col-md-3{
  border-radius: 5px;
}

.top-stores-row .col-md-3:hover{
  transform: translateY(-10px);
}
.top-stores-row .col-md-3 p{
  padding: 0;
  margin: 0;
  font-size: 12px;

}

.top-stores-row .col-md-3 img{
  margin-top: 0.5rem;
}

.mobile-nav{
  display: none;
}





/* Glide.js Carouser  starts */

.weekly-ad-banner{
  height: 415px;
  background: white;
  border: 0.8px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.weekly-ad-banner:hover{
  border: 0.8px solid rgb(61, 61, 61);
}
.banner{
  height: 300px;
  width: 100%;
}
.banner img{
  border-radius: 5px;
}
.glide__arrow{
  background: white !important;
  color: #2874F0 !important;
  border-radius: 50% !important;
}
.glide__arrow--left{
  margin-left: -2.5rem;
  margin-top: -2rem;
}
.glide__arrow--right{
  margin-right: -2.5rem;
  margin-top: -1.9rem;
}
ul.pages > li > a{
  text-decoration: none;
  color: black;
}
.header-menu > li > a {
    font-weight: 700;
}


/* Glide.js Carouser  ends */

.dropdown button{
  background: none;
  color: black;
  border: none;
  padding: 0;
}
.dropdown button:hover{
  background: none;
  border: none;
  color: black;
  box-shadow: none !important;
}
.dropdown button:visited{
  outline: none;
  border: none;
  box-shadow: none;
}
.dropdown button:focus{
  outline: none;
  border: none;
  box-shadow: none;
}
button.subscribe{
  background: #F18749;
  color: white;
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 25px;
}
.footer-nav-1 > li{
  color: white;
}
.footer-nav-1 > li > a {
  color: rgb(201, 201, 201);
  text-decoration: none;
}
footer .col-md-3{
  padding-left: 3rem !important;
}
p.copyright-p{
  text-align: center;
}
.blog-card{
  border: 1px solid rgb(196, 196, 196);
}
footer a:hover{
  color: #4684e9;
}


/* flyer Card CSS */

.flyer-card{
  height: 420px;
  background: white;
  border: 0.8px solid rgb(177, 177, 177);
  border-radius: 5px;
  position: relative;
}
.expried-tag{
  position: absolute;
  top: 0;
  left: 0;
}

.flyer-card:hover{
  border: 0.8px solid rgb(61, 61, 61);
}
.flyer-img{
  height: 280px;
}
.flyer-img img{
  border-radius: 5px;
}
button.view-offer{
  background: white;
  border: 1px solid #7eacf7;
  padding: 0.3rem 1.5rem;
  color: #7eacf7;
  width: 90%;
  border-radius: 25px;
  margin-top: 10px;
}
.store-des{
  display: flex;
}
.store-des-img{
    width: 30%;
    padding-top: 3rem;
}
.store-des-content{
  width: 70%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.card-detail{
  padding-top: 1rem !important;
}


/* Pagination */
.pagination-container{
  margin: auto;
  justify-content: center;
}

.pagination-main a{
  margin: 0.2rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  font-size: 12px;
  border: 0.5px solid #aaaaaa;
  height: 20px;
  width: 20px;
  text-decoration: none;
  transition: .5s;
  color: #575757;
}
.pagination-main a.active{
  border: 0.5px solid #7eacf7;
  color: #7eacf7;
}
.pagination-main a.disabled{
  opacity: 0.7;
}
.pagination-main a:hover{
  border: 0.5px solid #7eacf7;
  color: #7eacf7;
}
.pagination-main a:hover:not(.active){
  border: 0.5px solid #7eacf7;
  color: #7eacf7;
}



/* Final pagination */

.pagination{
  justify-content: center;
}
.page-item{
  margin: 0 0.2rem;
}
.page-link{
  padding: 0.3rem 0.5rem;
  font-size: 12px;
}

.page-link:hover{
  background: none;
  color: black;
  box-shadow: none !important;
}
.page-link:visited{
  outline: none;
  box-shadow: none !important;
}
.page-link:focus{
  outline: none !important;
  box-shadow: none !important;
}
a{
  text-decoration: none !important;
  color: black !important;
}
footer a{
  text-decoration: none !important;
  color: rgb(190, 190, 190) !important;
}
.header-container .logo a h3{
  color:  white !important;
}

.flyer-full-ad img {
  display: block;
  width: 100%;
  cursor: zoom-in;
}

.search-box{
  width: 100%;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.search-box input{
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}
.categorywise-store-list{
  background: white;
  padding: 0.9rem;
  margin-right: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}
.categorywise-store-list ul li a{
  color: rgb(59, 59, 59) !important;
}
.subscription-form{
  background: white;
  padding: 0.9rem;
  margin-right: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  text-align: center;
}
.subscription-form input{
  border-radius: 25px;
  border: none;
  border: 1px solid rgb(190, 190, 190);
  padding-left: 10px;
  width: 90%;
  height: 30px;
  font-size: 14px;
}
.subscription-form i{
  color:  #bcd5fd;
}
.subscription-form input:focus{
  outline: none;
}
.subscription-form button{
  width: 90%;
  font-weight: 700;
}
.categories li img{
  width: 40px !important;
} 
.categories li a{
  font-size: 14px;
}


/* seacrh bar */
.search-bar-desk{
  position: relative;
}
.search-bar-desk input{
    width: 100%;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.search-bar-desk input:focus{
  outline: none;
}
.react-autosuggest__suggestions-list {
  margin: 0 0rem 0 0.1rem;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  max-height: 400px;
  position: absolute;
  background: white;
  color: black;
  z-index: 9999;
  width: 96%;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);

  
}

.sugg-option {
  display: flex;
  border-bottom: 0.5px solid rgb(224, 224, 224);
  height: 60px;
}
.icon-wrap img {
  width: 50px;
  margin-right: 10px;
  object-fit: cover;
  height: 100%;
}
.sugg-option a{
  color: black !important;
}

/* New mobile menu */
.mobile-navigation{
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 75%;
  height: 100vh;
  z-index: 99999;
  color:  black !important;
  box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.7);
}
.menu-mask{
  position: fixed;
  background: rgba(0, 0, 0, 0.548);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  
}
.mobile-menu-header{
  height: 62px;
  display: flex;
  justify-content: space-between;
  background: #2874F0;
  color: white;
}
.mobile-menu-header h4{
  margin-top: 2px;
}
.mobile-main-menu-list{
  padding: 0;
  padding-top: 1rem;
}
.dropdown-cat-list{
  padding: 0;
}
.menu-list-item{
  color: rgb(66, 66, 66);
  height: 30px;
  padding-left: 14px;
  padding-top: 3px;
}
.menu-list-item:hover{
  background: rgb(224, 224, 224);
}
.menu-list-item-link {
  font-size: 14px;
}
.menu-list-item-link i{
  margin-right: 10px;
  color: rgb(121, 121, 121);
  font-size: 14px;

}
.drop-down-catlist-link{
  color: rgb(121, 121, 121);
  font-size: 14px;
}
.drop-down-catlist-item{
  height: 30px;
  padding-left: 1.5rem;
  padding-top: 3px;
}
.drop-down-catlist-item:hover{
  background: rgb(224, 224, 224);
}
.drop-down-catlist-link i{
    margin-left: 1rem;
}

.slick-prev:before, .slick-next:before{
  color:  #2874F0 !important;
  border-radius: 50%;
  display: grid;
  place-items: center;
  opacity: 1 !important;
  margin-top: 2px;
}
.header-menu li a{
  color: white !important;
}
.dropdown button{
  width: 100%;
  text-align: left;
}
@media only screen and (max-width: 1200px){
  ul.categories{
    justify-content: space-between;
    overflow-x: scroll;
  }
  ul.categories::-webkit-scrollbar{
    display: none;
  }
  .dropdown-cate-menu{
    display: none !important;
  }
  .top-stores-row .col-md-3{
    width: 140px !important;
  }
  button.view-offer{
    padding: 0.1rem 1rem;
  }
  .card-detail span{
    font-size: 10px !important;
  }
  footer h3{
    font-size: 20px;
  }
  .container{
    max-width: 100% !important;
  }
  .top-stores-row .col-md-3{
    height: 140px;
  }
}
@media only screen and (max-width: 992px){
  
  
  
}
@media only screen and (max-width: 576px){
  .burger{
    font-size: 25px;
  }
  .react-autosuggest__suggestions-list{
    width: 92%;
  }
  .sidebar{
    display: none;
  }
  .page-item{
    margin: 0 0.1rem;
  }
  .page-link{
    padding: 0;
    font-size: 10px;
  }

  ul.categories{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    position: relative;
    
  }
  ul.categories > li{
    padding: 0.3rem 0.5rem;
    text-align: center;
  
  }
  
  .flyer-card{
    height: 340px;
  }
  .flyer-img{
    height: 200px;
  }
  button.view-offer{
    
    padding: 0.2rem 1rem;
    color: #7eacf7;
    width: 90%;
  }
  .card-detail{
    padding-top: 0 !important;
  }
  .top-stores-row{
    column-gap: 14px;
  }
  .flyer-card-row .col-md-4{
    width: 50%;
  }
  .store-des{
    display: block;
  }
  .store-des-img{
      width: 100%;
      padding-top: 3rem;
  }
  .store-des-content{
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
 
  section .product{
      min-width: 47%;
  }
  
  .categories{
      overflow-x: scroll;
  }
  .categories::-webkit-scrollbar{
      visibility: hidden;
  }
  ul.categories > li img{
      width: 40px !important;
  
  }
  ul.categories > li a{
      font-size: 12px;
  
  }
  .menu{
      display: none;
  }
  .logo{
      display: flex;
      position: relative;
  }
  .logo h3{
      font-size: 30px;
      font-weight: 600;
  }
  .hamburger-menu{
      position: absolute;
      right: 0.8rem;
      margin-top: 8px;
      border-radius: 50%;
  }
  .categories-fluid{
      padding: 0;
      

  }
  ul.categories{
      padding-top: 10px;
  }
  .categories-fluid .container{
      padding: 0;
  }
  .hamburger-menu{
      display: block;
  }
  .carousel-item img{
      width: 150px !important;
  }
  .top-stores-row .col-md-3{
      width: 46% !important;
  }
  .top-stores-row .col-md-3 img{
     margin-top: 0.5rem;
  }
  .top-categories-row .col-md-3 img{
      margin-top: 0.9rem;
   }
  .top-stores-row .col-md-3 p{
     font-size: 12px;
      
  }
 
  .hamburger-menu img{
      cursor: pointer;
  }
  .mobile-nav{
      display: block;
      background: white;
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 1000px;
      z-index: 9999;
      padding: 2rem 1rem;
      transition: .5s;
      border: 0.3px solid #2874F0;
      transition: .5s;
      visibility: hidden;
      opacity: 0;
      transition: .5s;
  }
  .mobile-nav > div > div > img{
      box-shadow: 1px 1px 3px rgba(190, 190, 190, 0.7);
      border-radius: 50%;
      padding: 0.5rem;
      margin-right: 0.7rem;
  }
  .mobile-nav > img{
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 20px;
  }
  .dropdown-cate-menu{
      display: none;
  }
  ul.categories > li:hover > div{
    display: none;
  }
  .pages a:hover{
      color: #2874F0;
  }
  .dropdown{
    padding-left: 1.5rem;
    height: 25px;
    margin-bottom: 5px;
  }
  .dropdown:hover{
    background: rgb(228, 228, 228);
  }
  .dropdown button{
    color: rgb(37, 37, 37) !important;
    font-size: 14px;
    
      
  }
  .dropdown button:hover{
      color: #2874F0;
  }
  .dropdown-menu{
      border: 1px solid #c4dbff !important;
      width: 220px;
  }
  .dropdown-menu > li > a{
      color:  rgb(70, 69, 69) !important;
      font-size: 14px;
  }
  .pages li{
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
  }
  .pages > li > a {
      color:  rgb(129, 129, 129) !important;
      font-weight: 700;
  }
  footer .col-md-3{
      padding-left: 1rem !important;
  }
  p.copyright-p{
      text-align: left;
  }


  /* image zoom on mobile off */
  .iiz--drag .iiz__zoom-img--visible{
    display: none;
  }
  .iiz__img--hidden{
    visibility: visible !important;
    opacity: 1 !important;
  }
  .iiz__close--visible{
    display: none !important;
  }
  
  
  
}



